{% extends "base.html" %}

{% block content %}
  <!-- About section -->
  <div class="about   pd-y" id="about">
    <!-- section Header -->
    <div class="section-header">
      <h2 class="section-titel">Über uns</h2>
      <span class="line"></span>
    </div>
    <!-- /section-header -->

    <div class="container">
      <div class="about-content">
        <!-- about item -->
        <div class="about-item-info">
          <div class="about-item-desc">
            <h3 class="about-item-title">Wer, wie, was?</h3>
            <p>
              Wir, Ballon, sind ein kleines Team aus Querdenkern* mit einem
              vielfältigen touristischen Background. Wir kennen die
              verschiedenen Seiten des Tourismus - die der Veranstalter, die
              der Leistungsträger vor Ort, die der Kunden und vor allem die
              der Reisebüros.
            </p>
          </div>
          <img src="images/about/pexels-photomix-company-518950.webp" alt="" />
        </div>
        <!-- /about item -->
        <!-- about item -->
        <div class="about-item-info">
          <div class="about-item-desc">
            <h3 class="about-item-title">Wie wir arbeiten</h3>
            <p>
              Wir sind flink. Wir sind flexibel. Wir sind lösungsorientiert.
              Wir sind wirtschaftlich. Wir sind kreativ. Wir sind verlässlich.
              Wir sind vorausschauend. Wir sind pragmatisch. Wir sind
              persönlich. Wir sind antisilodenkend. Wir sind innovativ. Wir
              sind anders. Wir sind menschlich. Wir sind da und wir wollen
              mehr. Für Sie.
            </p>
          </div>
          <img src="images/about/pexels-roberto-nickson-2478248_1.webp" alt="" />
        </div>
        <!-- /about item -->
        <!-- about item -->
        <div class="about-item-info">
          <div class="about-item-desc">
            <h3 class="about-item-title">Was wir anbieten</h3>
            <p>
              Denken Sie an all die Dinge, die Sie brauchen, um ein gut
              funktionierendes, modernes Reisebüro mit einem zufriedenen und
              wachsenden Kundenstamm zu führen. Und wir liefern Ihnen hierfür
              maßgeschneiderte Lösungen und zuverlässige Kooperationspartner
              mit attraktiven Rahmenabkommen im touristischen und nicht
              touristischen Dienstleistungsbereich. Sie entscheiden was Sie
              davon wahrnehmen und sparen dabei Bares.
            </p>
          </div>
          <img src="images/about/andrea-enriquez-cousino-C1HhAQrbykQ-unsplash.jpg" alt="" />
        </div>
        <!-- /about item -->
      </div>
      <!-- /about-content -->
    </div>
    <!-- /container -->
  </div>
  <!-- /about -->


  {% endblock %}