{% extends "base.html" %}

{% block content %}
<div class="team pd-y" id="team">
    <div class="section-header">
        <h2 class="section-titel">team</h2>
        <span class="line"></span>
    </div>

    <!-- container -->
    <div class="container">

        <div class="team-content">
            <!-- team item -->
            <div class="team-item">
                <div class="team-item-img hover-opacity">
                    <img src="images/team/jurica-koletic-7YVZYZeITc8-unsplash.webp" alt="" />
                </div>
                <div class="team-item-desc">
                    <p class="team-item-name">Markus Jakob</p>
                    <p class="team-item-position">Geschäftsführer</p>
                </div>
            </div>
            <!--  /team item -->
            <!-- team item -->
            <div class="team-item">
                <div class="team-item-img hover-opacity">
                    <img src="images/team/robert-godwin-cdksyTqEXzo-unsplash.webp" alt="" />
                </div>
                <div class="team-item-desc">
                    <p class="team-item-name">John Großer</p>
                    <p class="team-item-position">Geschäftsführer</p>
                </div>
            </div>
            <!--  /team item -->
            <!-- team item -->
            <div class="team-item">
                <div class="team-item-img hover-opacity">
                    <img src="images/team/stefan-stefancik-QXevDflbl8A-unsplash.webp" alt="" />
                </div>
                <div class="team-item-desc">
                    <p class="team-item-name">Ute Wicke</p>
                    <p class="team-item-position">Assistentin d. Geschäftsführung</p>
                </div>
            </div>
            <!--  /team item -->
            <!-- team item -->
            <div class="team-item">
                <div class="team-item-img hover-opacity">
                    <img src="images/team/vicky-hladynets-C8Ta0gwPbQg-unsplash.webp" alt="" />
                </div>
                <div class="team-item-desc">
                    <p class="team-item-name">Maik Kramer</p>
                    <p class="team-item-position">Technik</p>
                </div>
            </div>
            <!--  /team item -->
        </div>
    </div>
    <!-- /container -->
</div>
{% endblock %}
